# SQL Subqueries - Lab

## Introduction

Now that you've seen how subqueries work, it's time to get some practice writing them! Not all of the queries will require subqueries, but all will be a bit more complex and require some thought and review about aggregates, grouping, ordering, filtering, joins and subqueries. Good luck!  

## Objectives

You will be able to:

* Write complex queries
* Write subqueries to decompose complex queries

## CRM Database Schema

Once again, here's the schema for the CRM database you'll continue to practice with.

<img src="images/Database-Schema.png" width="600">

## Connect to the Database

As usual, start by importing the necessary packages and connecting to the database **data.sqlite**.

In [3]:
#Your code here; import the necessary packages
import sqlite3

In [4]:
#Your code here; create the connection and cursor
conn = sqlite3.connect('data.sqlite')
curr = conn.cursor()

## Write an Equivalent Query using a Subquery

```SQL
select customerNumber,
       contactLastName,
       contactFirstName
       from customers
       join orders 
       using(customerNumber)
       where orderDate = '2003-01-31';
```

In [3]:
#Your code here; use a subquery. No join will be necessary.
curr.execute('''SELECT customernumber, contactlastname, contactfirstname FROM customers WHERE
                (SELECT orderdate FROM orders WHERE orderdate = '2003-01-31');''')
curr.fetchall()

[('103', 'Schmitt', 'Carine '),
 ('112', 'King', 'Jean'),
 ('114', 'Ferguson', 'Peter'),
 ('119', 'Labrune', 'Janine '),
 ('121', 'Bergulfsen', 'Jonas '),
 ('124', 'Nelson', 'Susan'),
 ('125', 'Piestrzeniewicz', 'Zbyszek '),
 ('128', 'Keitel', 'Roland'),
 ('129', 'Murphy', 'Julie'),
 ('131', 'Lee', 'Kwai'),
 ('141', 'Freyre', 'Diego '),
 ('144', 'Berglund', 'Christina '),
 ('145', 'Petersen', 'Jytte '),
 ('146', 'Saveley', 'Mary '),
 ('148', 'Natividad', 'Eric'),
 ('151', 'Young', 'Jeff'),
 ('157', 'Leong', 'Kelvin'),
 ('161', 'Hashimoto', 'Juri'),
 ('166', 'Victorino', 'Wendy'),
 ('167', 'Oeztan', 'Veysel'),
 ('168', 'Franco', 'Keith'),
 ('169', 'de Castro', 'Isabel '),
 ('171', 'Rancé', 'Martine '),
 ('172', 'Bertrand', 'Marie'),
 ('173', 'Tseng', 'Jerry'),
 ('175', 'King', 'Julie'),
 ('177', 'Kentary', 'Mory'),
 ('181', 'Frick', 'Michael'),
 ('186', 'Karttunen', 'Matti'),
 ('187', 'Ashworth', 'Rachel'),
 ('189', 'Cassidy', 'Dean'),
 ('198', 'Taylor', 'Leslie'),
 ('201', 'Devon', 'Elizabeth'),
 ('202', 'Tamuri', 'Yoshi '),
 ('204', 'Barajas', 'Miguel'),
 ('205', 'Young', 'Julie'),
 ('206', 'Walker', 'Brydey'),
 ('209', 'Citeaux', 'Frédérique '),
 ('211', 'Gao', 'Mike'),
 ('216', 'Saavedra', 'Eduardo '),
 ('219', 'Young', 'Mary'),
 ('223', 'Kloss', 'Horst '),
 ('227', 'Ibsen', 'Palle'),
 ('233', 'Fresnière', 'Jean '),
 ('237', 'Camino', 'Alejandra '),
 ('239', 'Thompson', 'Valarie'),
 ('240', 'Bennett', 'Helen '),
 ('242', 'Roulet', 'Annette '),
 ('247', 'Messner', 'Renate '),
 ('249', 'Accorti', 'Paolo '),
 ('250', 'Da Silva', 'Daniel'),
 ('256', 'Tonini', 'Daniel '),
 ('259', 'Pfalzheim', 'Henriette '),
 ('260', 'Lincoln', 'Elizabeth '),
 ('273', 'Franken', 'Peter '),
 ('276', "O'Hara", 'Anna'),
 ('278', 'Rovelli', 'Giovanni '),
 ('282', 'Huxley', 'Adrian'),
 ('286', 'Hernandez', 'Marta'),
 ('293', 'Harrison', 'Ed'),
 ('298', 'Holz', 'Mihael'),
 ('299', 'Klaeboe', 'Jan'),
 ('303', 'Schuyler', 'Bradley'),
 ('307', 'Andersen', 'Mel'),
 ('311', 'Koskitalo', 'Pirkko'),
 ('314', 'Dewey', 'Catherine '),
 ('319', 'Frick', 'Steve'),
 ('320', 'Huang', 'Wing'),
 ('321', 'Brown', 'Julie'),
 ('323', 'Graham', 'Mike'),
 ('324', 'Brown', 'Ann '),
 ('328', 'Brown', 'William'),
 ('333', 'Calaghan', 'Ben'),
 ('334', 'Suominen', 'Kalle'),
 ('335', 'Cramer', 'Philip '),
 ('339', 'Cervantes', 'Francisca'),
 ('344', 'Fernandez', 'Jesus'),
 ('347', 'Chandler', 'Brian'),
 ('348', 'McKenna', 'Patricia '),
 ('350', 'Lebihan', 'Laurence '),
 ('353', 'Henriot', 'Paul '),
 ('356', 'Kuger', 'Armand'),
 ('357', 'MacKinlay', 'Wales'),
 ('361', 'Josephs', 'Karin'),
 ('362', 'Yoshido', 'Juri'),
 ('363', 'Young', 'Dorothy'),
 ('369', 'Rodriguez', 'Lino '),
 ('376', 'Urs', 'Braun'),
 ('379', 'Nelson', 'Allen'),
 ('381', 'Cartrain', 'Pascale '),
 ('382', 'Pipps', 'Georg '),
 ('385', 'Cruz', 'Arnold'),
 ('386', 'Moroni', 'Maurizio '),
 ('398', 'Shimamura', 'Akiko'),
 ('406', 'Perrier', 'Dominique'),
 ('409', 'Müller', 'Rita '),
 ('412', 'McRoy', 'Sarah'),
 ('415', 'Donnermeyer', 'Michael'),
 ('424', 'Hernandez', 'Maria'),
 ('443', 'Feuer', 'Alexander '),
 ('447', 'Lewis', 'Dan'),
 ('448', 'Larsson', 'Martha'),
 ('450', 'Frick', 'Sue'),
 ('452', 'Mendel', 'Roland '),
 ('455', 'Murphy', 'Leslie'),
 ('456', 'Choi', 'Yu'),
 ('458', 'Sommer', 'Martín '),
 ('459', 'Ottlieb', 'Sven '),
 ('462', 'Benitez', 'Violeta'),
 ('465', 'Anton', 'Carmen'),
 ('471', 'Clenahan', 'Sean'),
 ('473', 'Ricotti', 'Franco'),
 ('475', 'Thompson', 'Steve'),
 ('477', 'Moos', 'Hanna '),
 ('480', 'Semenov', 'Alexander '),
 ('481', 'Altagar,G M', 'Raanan'),
 ('484', 'Roel', 'José Pedro '),
 ('486', 'Salazar', 'Rosa'),
 ('487', 'Taylor', 'Sue'),
 ('489', 'Smith', 'Thomas '),
 ('495', 'Franco', 'Valarie'),
 ('496', 'Snowden', 'Tony')]

## Select the Total Number of Orders for Each Product Name

Sort the results by the total number of items sold for that product.

In [12]:
#Your code here
curr.execute('''SELECT productname, SUM(o.quanitityOrdered) FROM products
                JOIN orderdetails o
                USING(productcode)
                GROUP BY productname''').fetchall()

OperationalError: no such column: o.quanitityOrdered

## Select the Product Name and the  Total Number of People Who Have Ordered Each Product

Sort the results in descending order.

### A quick note on the SQL  `SELECT DISTINCT` statement:

The `SELECT DISTINCT` statement is used to return only distinct values in the specified column. In other words, it removes the duplicate values in the column from the result set.

Inside a table, a column often contains many duplicate values; and sometimes you only want to list the unique values. If you apply the `DISTINCT` clause to a column that has `NULL`, the `DISTINCT` clause will keep only one NULL and eliminates the other. In other words, the DISTINCT clause treats all `NULL` “values” as the same value.

In [9]:
#Your code here:
# Hint: because one of the tables we'll be joining has duplicate customer numbers, you should use DISTINCT

## Select the Employee Number, First Name, Last Name, City (of the office), and Office Code of the Employees Who Sold Products Which Have Been Ordered by Less Then 20 people.

This problem is a bit tougher. To start, think about how you might break the problem up. Be sure that your results only list each employee once.

In [11]:
#Your code here

## Select the Employee Number, First Name, Last Name, and Number of Customers for Employees Who's Customers Have an Average Credit Limit of Over 15K

In [13]:
#Your code here

## Summary

In this lesson, you got to practice some more complex SQL queries, some of which required subqueries. There's still plenty more SQL to be had though; hope you've been enjoying some of these puzzles!